h1 {
font-size: 48px;
font-family: Impact, sans-serif;
}

h2 {
font-size: 35px;
font-family: Impact, sans-serif;
color: white;
}

h3 {
font-size: 20px;
font-family: Impact, sans-serif;
color: white;
}

p {
font-size: 20px;
font-family: Impact, sans-serif;
}

body { 
 background-color: #ff7e5f;
 background-image: linear-gradient(#ff7e5f, #feb47b) ;
 background-size: 100% 100%;
}

.banner {
 width:1600px;
 heigth:500px;
 background-color: #ffffff;
}

.img1 {
  object-position: relative;
  top: 30px;
}
