h1 {
font-size: 50px;
font-family: Impact, sans-serif;
color: beige;
}

h2 {
font-size: 40px;
font-family: Andale Mono, monospace;
color: beige;
}

h3 {
font-size: 32px;
font-family: Andale Mono, monospace;
}

p {
font-size: 27px;
font-family: Impact, sans-serif;
}

li {
 color: beige;
}

body { 
 
 background-image: url("images/background_site.png") ;
 background-size: 800px;
 
}

header {
  background: #333;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height:150px;
  opacity: 0.97;
}


input[type="radio"] {
  accent-color: #6c63ff;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


button {
  background: #6c63ff;
  color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

span{
  background: white;
}
